/* @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Ropa+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Rubik:wght@300;400;500;600&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Buttons */
button#return-home, button.return-home-up, button#skip-intro {
  position: absolute;
  border: 0;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  background-color: transparent;
  /* background-image: url("assets/images/icons/down-icon.png");
  background-repeat: no-repeat;
  /* transition: all .3s; */ */
}
/* button#return-home, button.return-home-up {
  background-color: #846b63;
  background-size: 3rem;
  background-position: center;
  border-radius: 1rem;
}

button.return-home-up {
  padding: 0 !important;
  background-image: url("assets/images/icons/up-icon.png");
  opacity: 0;
  visibility: hidden;
  position: relative;
  right: -1rem;
} */
/* button.return-home-up:hover {
  right: -2rem;
  top: -1rem;
} */


button#return-home:hover, button.return-home-up:hover, button#skip-intro:hover {
  border: 2px dashed #846B63;
  padding: 1rem;
  height: 6rem;
  width: 6rem;
  background-position: center;
  border-radius: 1rem;
}

@keyframes fade-in {
  0% {
      opacity: 0;
      color: transparent;
      text-shadow: 0 0 45px rgba(0,0,0,0.5);
  }
  50% {
      color: transparent;
      text-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  100% {
      opacity: 1;
      color: #3C3C3C;
      text-shadow: none;
  }
}
@keyframes fade-out {
  0% {
      color: #3C3C3C;
      text-shadow: none;
  }
  100% {
      color: transparent;
      text-shadow: 0 0 45px rgba(0,0,0,0.5);
  }
}
