@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Rubik:wght@300;400;500;600&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Buttons */
button#return-home, button.return-home-up, button#skip-intro {
  position: absolute;
  border: 0;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  background-color: transparent;
}


@keyframes fade-in {
  0% {
      opacity: 0;
      color: transparent;
      text-shadow: 0 0 45px rgba(0,0,0,0.5);
  }
  50% {
      color: transparent;
      text-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  100% {
      opacity: 1;
      color: #3C3C3C;
      text-shadow: none;
  }
}
@keyframes fade-out {
  0% {
      color: #3C3C3C;
      text-shadow: none;
  }
  100% {
      color: transparent;
      text-shadow: 0 0 45px rgba(0,0,0,0.5);
  }
}
